.map-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color);
  cursor: grab;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container.dragging {
  cursor: grabbing;
}

.map-content {
  position: relative;
  transform-origin: center center;
  will-change: transform;
  transition: none;
}

.map-container.dragging .map-content {
  transition: none;
}

.map-image {
  height: 100vh;
  width: auto;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.hotspots-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

